## Hello there

Načtení dat & inicializace

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from random import sample

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn import tree
from sklearn.ensemble import RandomForestRegressor

import CHAID

pd.set_option('mode.chained_assignment',None)

In [12]:
# Import dataset

#JÁRA načtení tam kde to mám uložené
data = pd.read_csv('C:/Users/macou/OneDrive/Dokumenty/ukol1datascience/hw1_devsample.csv', encoding='utf-8')

#FANDOVO načtení dat
#data_all = pd.read_csv('.../hw1_devsample.csv', encoding='utf-8')

print(f'Number of rows:      {data.shape[0]}')
print(f'Number of columns:   {data.shape[1]}')

Number of rows:      80000
Number of columns:   197

In [11]:
#kaggle competitions download -c mff-data-science-2-hw1
#nejde mi to pomoci tohoto nahrát tak jsem to udělal ručně

 zajímají nás jen některé sloupce

In [19]:
columns = ["SK_ID_CURR", "TARGET", "NAME_CONTRACT_TYPE", "CODE_GENDER", "FLAG_OWN_CAR", "FLAG_OWN_REALTY", "CNT_CHILDREN", "AMT_INCOME_TOTAL", "AMT_CREDIT", "AMT_ANNUITY"]

In [21]:
data = data[columns]

In [23]:
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY
0,215138,0.0,Cash loans,M,N,Y,0.0,135000.0,646920.0,25195.5
1,325963,0.0,Cash loans,M,Y,Y,0.0,135000.0,740218.5,40284.0
2,206923,0.0,Cash loans,F,N,Y,0.0,180000.0,339241.5,12919.5
3,265855,0.0,Cash loans,F,N,Y,0.0,180000.0,1264428.0,37098.0
4,359795,0.0,Revolving loans,F,N,Y,NaN,76500.0,202500.0,10125.0

 zdá se že chybějící NaN hodnoty budou jen u CNT_children

In [25]:
data_cart = data.copy()

In [34]:
data_cart.isna().sum()

SK_ID_CURR            0
TARGET                0
NAME_CONTRACT_TYPE    0
CODE_GENDER           0
FLAG_OWN_CAR          0
FLAG_OWN_REALTY       0
CNT_CHILDREN          0
AMT_INCOME_TOTAL      0
AMT_CREDIT            0
AMT_ANNUITY           0
dtype: int64

In [36]:
data_cart["CNT_CHILDREN"].value_counts()

0.0     66645
1.0      9352
2.0      3562
3.0       399
4.0        32
5.0         6
6.0         1
12.0        1
10.0        1
8.0         1
Name: CNT_CHILDREN, dtype: int64

In [32]:
#zdá se že by chybějící hodnota mohla znamenat 0 dětí anebo doopravdy chybějící hodnota


#nahrazení výběrovým průměrem + zamyslet jestli nevzít radši median když j epotřeba aby to byla celočíselná hodnota
#data_cart=data_cart.fillna(data_cart.mean())

#nahrazení hodnotou 0
data_cart=data_cart.fillna(0)

In [35]:
data_cart["CNT_CHILDREN"].value_counts()

0.0     66645
1.0      9352
2.0      3562
3.0       399
4.0        32
5.0         6
6.0         1
12.0        1
10.0        1
8.0         1
Name: CNT_CHILDREN, dtype: int64